a{
	outline: 0;
	text-decoration: none !important;

}

.h-txt{
	color: $primary-color;
	font-weight: bold;
}

.a-txt{
	color: #f76013;
}

.pageNavigation{
	padding: 10px;
	background: #e5e5e5;
	width: 90%;
	margin-bottom: 20px;
	p{
		margin: 0;
	}
}

@media (max-width: 750px){
	.pageNavigation{
		width: 100%;
	}
}