/* line 1, ../sass/module/_head.scss */
.top-logo {
  padding-top: 60px;
}

/* line 4, ../sass/module/_head.scss */
.top-advertise {
  padding: 15px;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar-inverse {
  background-color: #005395;
  border-radius: 0px;
  font-size: 18px;
  border: none;
}
/* line 6, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: white;
  background-color: #005000;
  transition: 0.3s;
}
/* line 11, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-brand:hover {
  color: white;
  background-color: #006900;
}
/* line 16, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-color: #005000;
}
/* line 19, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #006900;
}
/* line 22, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav li > a {
  transition: 0.3s;
  color: white;
}
/* line 26, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav li > a:hover {
  background-color: #006900;
}
/* line 30, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-toggle {
  border-color: white;
}
/* line 33, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #006900;
}

/* line 2, ../sass/module/_headNews.scss */
#custom_carousel .item {
  color: #000;
  background-color: #eee;
  padding: 20px 0;
}

/* line 8, ../sass/module/_headNews.scss */
#custom_carousel .controls {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-align: center;
  position: relative;
  background: #ddd;
}

/* line 18, ../sass/module/_headNews.scss */
#custom_carousel .controls li {
  display: table-cell;
  width: 1%;
  max-width: 90px;
}

/* line 23, ../sass/module/_headNews.scss */
#custom_carousel .controls li.active {
  background-color: #eee;
  border-top: 3px solid orange;
}

/* line 27, ../sass/module/_headNews.scss */
#custom_carousel .controls a small {
  overflow: hidden;
  display: block;
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold;
}
