/* line 1, ../sass/module/_head.scss */
.top-logo {
  padding: 10px;
}

/* line 4, ../sass/module/_head.scss */
.top-advertise {
  padding: 15px;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar-inverse {
  background-color: #005395;
  border-radius: 0px;
  font-size: 18px;
  border: none;
}
/* line 6, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-brand {
  color: white;
  background-color: #005000;
  transition: 0.3s;
}
/* line 11, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-brand:hover {
  color: white;
  background-color: #006900;
}
/* line 16, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-color: #005000;
}
/* line 19, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #006900;
}
/* line 22, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav li > a {
  transition: 0.3s;
  color: white;
}
/* line 26, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-nav li > a:hover {
  background-color: #006900;
}
/* line 30, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-toggle {
  border-color: white;
}
/* line 33, ../sass/module/_navbar.scss */
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #006900;
}
