.contact{
	margin-top: 20px;
	background-color: #002e53;
	color: white;
	padding: 30px 0px;
	font-size: 16px;
	h4{
		margin: 5px 0px;
		color: $secondary-color;
		font-weight: bold;
	}
	p{
		margin: 0px;
	}
}


 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */ 
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     color: white;
     transition: 0.3s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
  color: #3B5998;
 }
 #social-tw:hover {
  color: #4099FF;
 }
 #social-gp:hover {
  color: #d34836;
 }
 #social-em:hover {
  color: #f39c12;
 }