.contact{
	margin-top: 20px;
	background-color: #004275;
	color: white;
	padding: 30px 0px;
	h4{
		margin: 5px 0px;
		color: $secondary-color;
		font-weight: bold;
	}
	hr{
		margin: 5px 0px;
		width: 90%;
	}
	p{
		margin: 0px;
	}
}