.top-logo{
	padding-top: 10px;
}
.top-advertise{
	padding: 15px;
	img{
		width: 80%;
	}
}

@media screen and (max-width: 768px){
	.top-advertise{
		img{
			width: 100%;
		}
	}
}

.social-like > iframe{
	margin: 0px auto;
	display: block;
	margin-top: 10px;
}

.social-share{
	margin-left: 5px;
}