.navbar-inverse{
	background-color: $primary-color;
	border-radius: 0px;
	font-size: 18px;
	border: none;
	.navbar-brand{
		color: white;
		background-color: #005000;
		transition: 0.3s;
	}
	.navbar-brand:hover{
		color: white;
		background-color: #006900;
	}
	.navbar-nav{
		> .active > a{
			background-color: #005000;
		}
		> .active > a:hover{
			background-color: #006900;
		}
		li > a {
			transition: 0.3s;
			color: white;
		}
		li > a:hover{
			background-color: #006900;
		}
	} 
	.navbar-toggle{
		border-color: white;
	}
	.navbar-toggle:hover, .navbar-toggle:focus{
		background-color: #006900;
	}
}



