.navbar-inverse{
	background-color: $primary-color;
	border-radius: 0px;
	font-size: 18px;
	border: none;
	.navbar-brand{
		color: white;
		background-color: $secondary-color;
		transition: 0.3s;
	}
	.navbar-brand:hover{
		color: white;
		background-color: $secondary-color;
	}
	.navbar-nav{
		> .active > a{
			background-color: $secondary-color;
		}
		> .active > a:hover{
			background-color: $secondary-color;
		}
		li > a {
			transition: 0.3s;
			color: white;
		}
		li > a:hover{
			background-color: $secondary-color;
		}
	} 
	.navbar-toggle{
		border-color: white;
	}
	.navbar-toggle:hover, .navbar-toggle:focus{
		background-color: $secondary-color;
	}
}

header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 111;
}

.sticky + .content {
  padding-top: 60px;
}