hr.style1{
	border-top: 5px solid $secondary-color;
	width: 90%;
  float: left;
  margin: 0px;
  margin-bottom: 20px;
}

.box{
	img{
		width: 100%;
		height: 100%;
		border: 2px solid lightgray;
	}
	&--wrap{
		margin-top: 10px;
	}
	&--news{
		h3{
			margin: 0px;
			transition: 0.3s;
		}
		p{
			font-size: 16px;
		}
		padding-left: 10px;
	}
	&--ads{
		padding-right: 30px;
	}
	&--bannerAdvertise{
		margin-top: 30px;
	}
	a{
		text-decoration: none;
	}
	a h3:hover{
		color: #0084ea;
	}
}