.topbar{
	background-color: $primary-color;
	color: white;
	font-size: 16px;
	.btn{
		background-color: $secondary-color;
		color: white;
		transition: 0.3s;
		outline: 0;
	}
	.btn:hover{
		background-color: $light-sec-color;
		color:white;
	}
}

.topbar p {
	padding-top: 12px;
}

